/*alert:[%$#])**(^^%^!@$#@!#!@%^@!&#@!*7)*/

* { padding:0px; margin:0px;}
body{ color:#333333;  font-family:"microsoft yahei"; background-color:#F6F6F6; font-size:16px;}
html{
	overflow-x: hidden;
}
html, body, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset 
{
margin: 0;
padding: 0;
}
ol,ul,li{list-style:none;list-style-image:none;list-style-position:outside;list-style-type:none;}
img, fieldset,abbr,acronym {border:0 none;}
a{ text-decoration:none; color:#000;outline:none;}
table{ border-collapse:collapse;　border-spacing: 0;  }
i,b,address{ text-decoration:none; font-style:normal; font-weight:lighter;}
caption{ text-align:left;}
time,mark{ margin:0px; padding:0px; background:none}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
display: block;margin: 0;padding: 0;}
/*购物车头部*/
.header{
	width:100%;
	height:60px;
	text-align: center; 
	line-height: 60px;
	color: #666666;
	background:rgba(237,237,237,1);
	overflow: hidden;
	position: fixed;
	top: 0px;
	z-index: 2;
}
.return_key{
	width: 12px;
	height: 28px;
	float: left;
    position: relative;
    top: 30%;
    left: 5%;
	background: url(../images/arrow_left.png) no-repeat center;
	background-size: 100%;
	display: block;
}
.menu_icon{
	width: 30px;
	height: 29px;
	float: right;
    position: relative;
    top: 30%;
    right: 5%;
	background: url(../images/navigation.png) no-repeat center;
	background-size: 100%;
	display: block;
}
/*购物车内容start*/
.whole_store{
    background-color: #FFFFFF;
    padding-top: 10px;
}
hr{
    width: 88%;
    margin: 0 auto;
    margin-top: 13px;
    margin-bottom: 15px;
    border: 0.5px solid #E5E5E5;
}
.shop_merchandise{
	width: 100%;
	overflow: hidden;
    line-height: 30px;
}
.shop_merchandise .product_name{
	color: #666666;
	font-size: 16px;
	margin-left: 3%;
}

.select_icon{
	background: url(../images/ellipse_off.png)  no-repeat 0 4px;
	background-size: 100%;
    float: left;
    margin-left: 7%;
    width: 25px;
    height: 30px;
}
.select_icon3{
	background: url(../images/ellipse_off.png)  no-repeat 0 4px;
	background-size: 100%;
    float: left;
    margin-left: 7%;
    width: 25px;
    height: 30px;
}

.small_demarcation{
	height: 3px;
	background-color: #F5F6F8;
	clear: both;
}
.big_demarcation{
	height: 15px;
	background-color: #F5F6F8;
}
.forward_key{
    padding: 0px 5px;
    color: #A0A0A0;
    margin-left: 2%;
    background: url(../images/arrow_right.png) no-repeat center;
    background-size:100%;
}
.shopcart_detail{
    padding-bottom: 5%;
    padding-top: 2%;
    overflow: hidden;
    width: 126%;
    -webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
 .shopcart_detail_next{
	overflow: hidden;
    width: 80%;
    float: left;
}
 .shopcart_detail_img{
    width: 25%;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}
 .shopcart_detail_img img{
    width: 100%;
    height: auto;
}
.select_middle{
	position: relative;
	top: 23px;
}

 .detail_content{
	float: right;
    width: 56%;
}
.detail_content .detail_content_tit{
    width: 75%;
}
.detail_content .specification{
	border: 0.5px solid #C9C9C9;
	width: 95%;
	line-height: 20px;
    text-indent: 3px;
    margin-top: 3%;
    margin-bottom: 3%;
    color: #777;
}
.whole_store_order{
	padding-top: 0px;
}
.detail_content .specification span{
    font-size: 14px;
}
.specification .under_icon{
	background: url(../images/arrow_down.png) no-repeat center;
    padding: 0px 13px;
    background-color: #000;
}
.detail_content .price_setting{
	overflow: hidden;
	width: 96%;
}
.price_setting p{
	float: left;
	margin-top: 2px;
}
.price_size{
	font-size: 18px;
    font-weight: bold;
}
.price_setting .price{
	font-size: 14px;
}
.price_setting input{
    width: 30%;
    height: 23px;
    text-align: center;
    border: 1px solid #c9c9c9;
    outline: none;
    border-left: 0px;
    border-right: 0px;
}
.price_setting button{
    width: 30%;
    height: 25px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    outline: none;
}
.number_and{
	width: 50%;
	float: right;
}
.price_setting span{
	font-size: 12px;
}
.price_setting .abandoned{
	text-decoration:line-through;
	line-height:25px ;
	margin-left: 8px;
	color: #666666;
}
.priceColor_red{
	color: #FF2F39;
}
.buttonClor_red{
	background-color: #FC565E;
}	
.buttonClor_yellow{
	background-color: #F19505;
}
.float_right{
	float: right;
}
.float_left{
	float: left;
}
.big_demarcation{
	height: 15px;
}
.shopcat_delete{
	float:right;
	width:10%;
	text-align:center;
	color:#fff;
	height: 100px;
    line-height: 100px;
}
/*滑动增加*/
.swipeleft{
	transform:translateX(-20%);
	-webkit-transform:translateX(-20%);
}
/*购物车内容end*/

/*购物车底部*/
.footer{
	text-align: center;
	width: 100%;
	overflow: hidden;
	position: fixed;
	bottom: 0px;
	height: 55px;
	background-color: #FFFFFF;
}
.footer .select{
	font-size: 14px;
	color: #666666;
	margin-left: 7%;
    margin-top: 5px;
}
.select .select_tex{
    line-height: 25px;
}
.footer .settlement{
	width: 35%;
    line-height: 55px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.footer .total{
	margin-right: 7%;
    display: block;
    line-height: 60px;
}
.settlement .settlement_number{
	font-size: 14px;
}
.font_size12{
	font-size: 12px;
}
.font_size14{
	font-size: 14px;
}
.font_size16{
	font-size: 16px;
}
/*遮罩层*/
.mask{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(000,000,000,0.5);
	z-index: 10;
}
.tab{
	display: none;
}
/*星星*/
.page_fist_margin .xingxing {
  padding-left: 0;
  overflow: hidden;
      width: 60%;
    float: left;
    margin-top: 15px;
 }
.page_fist_margin .xingxing li {
  float: left;
  list-style: none;
  width: 15%;
  height: 22px;
  background: url(../images/comment-star.png) no-repeat 0px -20px;
 }
 .xingxing li a {
  display: block;
  width: 100%;
  padding-top: 27px;
  overflow: hidden;
 }
 .xingxing li.light {
  background-position: 0 0px;
 }
/*选规格*/
.spec-menu-content{
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60%;
    background-color: #fff;
    border-top: 1px solid #dadada;
    z-index: 11;
    display: none;
}
.spec-menu-top{
	width: 100%;
    height: 84px;
}
.spec-first-pic{
	position: absolute;
    left: 8px;
    top: -26px;
    width: 100px;
    height: 100px;
    border-radius: 3px;
    border: 1px solid #f0f1f3;
    background-color: #fff;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.spec-first-pic img{
 	max-width: 100%;
    max-height: 100%;
    overflow: hidden;
 }
.rt-close-btn-wrap{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 40px;
    text-align: center;
}
.spec-price{
	padding-top: 12px;
    padding-left: 121px;
}
.prod-spec{
    margin: 0px 0px 20px 20px;
    overflow: hidden;
    width: 95%;		
}
.prod-spec p{
    line-height: 40px;
}
.prod-spec ul{
	width: 100%;
}
.prod-spec ul li{
	line-height: 30px;
    background-color: #eee;
    display: inline-block;
    padding: 5px 19px;
    border-radius: 4px;
    margin-top: 8px;
    cursor: pointer;
}
.prod-spec .prod-spec_size li{
	padding: 5px 27px;
}
.prod-spec_num{
	overflow: hidden;
    padding-right: 3%;
}
.prod-spec_num button{
	width: 40px;
    height: 41px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    outline: none;
}.prod-spec_num input{
    width: 65px;
    height: 39px;
    text-align: center;
    border: 1px solid #c9c9c9;
    outline: none;
    border-left: 0px;
    border-right: 0px;
}
.spec-menu-middle{
    position: absolute;
    bottom: 43px;
    top: 85px;
    left: 0;
    right: 0;
    overflow-y: auto;
}
.spec-menu-btn{
    overflow: hidden;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #E93B3D;
    line-height: 60px;
    position: absolute;
    bottom: 0;
}

.prod-spec ul .prod-spec-back{
	color:#FFFFFF;
	background-color: #FC5052;
	
}
.search_box{
	height: 60px;
    background-color: #e8e8e8;
    text-align: center;
    line-height: 60px;
    position: relative;
}
.search_box_tech{
	position: absolute;
    top: 0px;
    left: 43%;
    width: 21%;
    background: rgba(255,255,2555,0);
}
.search_box .search{
	width: 86%;
    height: 35px;
    border-radius: 10px;
    border: 0px solid;    
    text-indent: 10px;
    outline: none;
}
.search_box_tech .search_sea{
	background: url(../images/index_footer_search_b.png) no-repeat center;
	padding: 10px;
    background-size: 100%;
}
.search_box_tech .search_txt{
    color: #999;
    font-size: 14px;
}
.order_list{
    width: 100%;
    display: block;
    overflow: hidden;
    font-size: 16px;
    color: #666666;
    border-bottom: 0.5px solid #eee;
    background-color: #FFFFFF;
}
.order_list li{
    float: left;
    width: 16%;
    line-height: 50px;
    text-align: center;
    margin-left: 10px;
}
.order_list li a{
	display: block;
	color: #666666;
	font-size: 16px;
}
.order_list .cleak a{
    color: #EF4441;
    border-bottom: 1px solid #EF4441;
}
.single_number{
	width: 100%;
    font-size: 16px;
    color: #666666;
    text-indent: 10px;
    line-height: 45px;
    border-bottom: 0.5px solid #eee;
    background-color: #FFFFFF;
}
.delete_order{
	background: url(../images/delete.png) no-repeat center;
	background-size: 100%;
    padding: 12px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.order_merchandise{
    border: 0.5px solid #eee;
    line-height: 50px;
    margin-top: 0px;
}
.order_icon{
	background: url(../images/unclaimed.png) no-repeat center;
	background-size: 100%;
    padding: 3px 10px;
    margin-left: 10px;
}
.delete_order_sub{
    float: right;
    width: 35%;
    height: 40px;
    margin-right: 10px;
    background-position: -6px 10px;
    text-align: right;
    color: #FF2F39;
}
.order_img{
   margin-left: 10px;
}
.order_content{
	float: left;
    width: 63%;
    margin-left: 15px;
}
.order_content .specification{
	border: 0px solid;
} 
.order_img{
	margin-top: 0px;
}
.shopcart_detail_order{
    width: 100%;
    padding-bottom: 0;
}
.shopcart_detail_order .order_content{
    width: 44%;
}
.shopcart_detail_order  .detail_content_tit{
	width: 100%;	
}
.shopcart_detail_order .price_setting{
	overflow: hidden;
    width: 15%;
    text-align: right;
    float: right;
    padding-right: 10px;
}
.shopcart_detail_order .price_setting .abandoned{
    margin-left: 0px;
}
.shopcart_detail_order  .shopcart_detail_next{
    width: 100%;
    border-bottom: 0.5px solid #E5E5E5;
    padding-bottom: 10px;
}
.shopcart_detail_order .shopcart_detail_img{
	width: 30%;
}
.shopcart_detail_order .price_setting p{
    text-align: right;
    width: 100%;
}
.pay_total{
    width: 64%;
    float: left;
    text-align: right;
    line-height: 40px;
    color: #666666;
}
.pay_total_order{
	clear: both;
    width: 100%;
    text-align: right;
    line-height: 50px;
}
.pay_order{
	 width: 25%;
    line-height: 25px;
     background-color: #fff;
     border-radius: 8px;
    margin-right: 10px;
}
.pay_total_order .pay_order_no{
    color: #C9C9C9;
    border: 1px solid #C9C9C9;
}
.pay_total_order .pay_order_yes{
   
    color: #EF4441;
   
    border: 1px solid #EF4441;
    
}
/*导航*/
.order_nav {
	display: none;
    width: 100%;
    height: auto;
    padding: 2px 0;
    background-color: #404042;
    overflow: hidden;
}

.order_nav_items {
    width: 20%;
    float: left;
    text-align: center;
}

.order_nav_items img {
    width: 40%;
    margin: 0 auto;
}
.order_nav_items p{
	color: #FFFFFF;
}
.order_nav .order_nav_check{
	background-color: #2D2D2D;
	height: auto;
}
/*商品购买*/

/*我的主页*/
.page_head{
	background: url(../images/me_top.png) no-repeat center;
	background-size: 100% 100%;
	background-color: #FFFFFF;
	width: 100%;    
    padding-top: 6%;
    padding-bottom: 10%;
}
.page_head_box{
    overflow: hidden;
    position: relative;
    top: 19%;
    width: 90%;
    margin: 0 auto;
}
.page_head_img{
    width: 20%;
    float: left;
    margin-right: 15px;
    margin-top: 6%;
    margin-left: 10px;
}
.page_head_img img{
	width: 100%;
}
.page_head_icon{
    width: 70%;
    text-align: right;
}
.page_head_txt{
    width: 70%;
    font-size: 16px;
    color: #fff;
}
.page_head_txtb{
    width: 70%;
    overflow: hidden;
}
.page_head_txtb>span{
	    background-color: #E12522;
    color: #FFFFFF;
    display: block;
    width: 45%;
    line-height: 20px;
    text-indent: 5px;
    float: left;
    font-size: 12px;
    margin-top: 10px;
}
.page_fist{
	background-color: #FFFFFF;
    padding-bottom: 10px;
    overflow: hidden;
}
.page_fist_top{
	display: block;
    overflow: hidden;
    border-bottom: 0.5px solid #f6f6f6;
    line-height: 30px;
}
.page_fist_allorder{
    width: 35%;
    text-align: right;
    margin-right: 10px;
}
.page_fist .page_fist_deep{
    font-weight: bold;
    margin-left: 10px;
}
.page_fist .page_fist_shallow{
	color: #999999;
    font-size: 14px;
}
.page_fist .page_head_icon1{
	background: url(../images/index_info_logo.png) no-repeat center;
	background-size: 100%;
	padding: 10px;
}
.page_fist_txt{
	width: 100%;
	text-align: center;
	padding-top: 10px;
	overflow: hidden;
    padding-bottom: 10px;
}
.page_fist_txt li{
	float: left;
	width: 25%;
}
.page_fist_txt li p{
    width: 28px;
    margin: 0 auto;
    color: #999999;
    position: relative;
}
.page_fist_txt li span{
    color: #999999;
}
.page_fist_txt li p img{
	width: 100%;
}
.page_txt_cir{
    border: 1px solid #E93B3D;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
	top: -8px;
    left: 20px;
    line-height: 12px;
}
.page_txt_number{
	color: #E93B3D;
	font-size: 12px;
}
.page_fist_margin{
	margin-top: 10px;
	overflow: hidden;
	text-align: center;
}
.page_fist_bottom{
	margin-bottom: 20px;
}
.page_head_icon2{
	background: url(../images/integral.png) no-repeat center;
	background-size: 100%;
	padding: 10px;
}
.page_head_icon3{
	background: url(../images/wallet.png) no-repeat center;
	background-size: 100%;
	padding: 10px;
}
.page_head_icon4{
	background: url(../images/application.png) no-repeat center;
	background-size: 100%;
	padding: 10px;
}
.page_fist_txt li .page_fist_illustra{
    display: block;
    color: #E93B3D;
    font-weight: bold;
}
.page_fist_txt a{
	overflow: hidden;
}
.page_fist_fontleft{
	margin-left: 20px;
}
/*脚部*/
.index-footer{
	height: auto;
}
.index-footer img{
	display: block;
}
.index-footer .spantext{
	color:#FF2F39
}

.whole_store_personal .page_fist_allorder{
	width: 55%;
}
.whole_store_personal .page_head_img{
	float: right;
    width: 45px;
    margin-top: 6px;
}
.whole_store_personal .page_fist_top{
    line-height: 40px;
}
.whole_store_personal .page_fist_allorder span{
	color: #999999;
}
.whole_store_key{
    width: 12px;
    height: 20px;
    float: right;
    margin-top: 20px;
    padding: 0px;
}
.flie_hidden{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;    
	width: 100%;
	height: 68px;
}
/*flie样式修改*/
.file {
    top: 19px;
    opacity: 0;
    width: 35px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

.authentication_car .authentication_tilt{
	text-align: center;
    margin: 25px;
    font-size: 18px;
}
.authentication_car1{
	background: url(../images/zhengmian.png) no-repeat center;
	background-size: 100%;
}
.authentication_car2{
	background: url(../images/beimian.png) no-repeat center;
	background-size: 100%;
}
.authentication_car .authentication_cart{
    width: 65%;
    background-color: #ffff;
    margin: 0 auto;
    height: 160px;
    text-align: center;
    line-height: 160px;
    border-radius: 5px;
}
.authentication_car .file img{
	position: absolute;
    left: 6px;
    top: 5px;
}
.name_submit{
	background-color: #FE7156;
	width: 90%;
	margin: 20px auto;
	line-height: 45px;
	color: #FFFFFF;
	outline: none;
	border: 0px;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    outline: none;
}
.secu_ul li{
	width: 23%;
	margin: 0px;
}
.yanzhengma{
	width: 53%;float: left;
}
.yanzhengma .sb_ui_input{
	width: 100%;
	line-height: 50px;
}
.secu_ul  strong{
	display: block;
	float: left;
	border-left: 1px solid #999999;
	height: 50px;
	margin-left: 4px;
	margin-right: 3px;
}

.secu_form .whole_store{
	padding-top: 0px;
}
.secu_form .whole_store a{
	line-height: 50px;
}
.secu_form .whole_store .page_fist_allorder{
    width: 35%;
}
.secu_form .whole_store .page_fist_allorder span{
    color: #FD2C2D;
}

.moblie_verification{
    background-color: #FE7156;
    width: 39%;
    float: left;
    margin-left: 5px;
    text-align: center;
    color: #fff;
}
.whole_store_personal .system_mess{
	width: 100%;
    overflow: hidden;
}
.page_head_message{
    width: 65px;
    margin-left: 15px;
}
.page_head_message .page_txt_cir{
	background-color:  #E93B3D;
	top: 7px;
    left: 65px;	
    text-align: center;
}
.page_head_message .page_txt_cir .page_txt_number{
	color: #FFFFFF;
}
.page_head_message img{
    width: 100%;
}
.page_head_messag{
	margin-left: 10px;
    width: 70%;
    text-align: left;
    font-size: 18px;
}
.page_head_messag .forward_key{
    padding: 14px 5px;
    background: url(../images/arrow_right.png) no-repeat 0 11px;
    background-size: 100%;
}
.whole_store_personal .page_fist_allorder .page_head_messag .page_fist_deep{
	color: #333333;
	font-weight: bold;
}
.page_messag_time{
    margin-left: 10%;
    font-size: 14px;
}
.page_messag_shall{
    line-height: 16px;
    margin-left: 10px;
}
.against .order_list li{
	width: 18%;
	margin-left: 5px;
}
.assets_title{
    background-color: #fff;
    line-height: 60px;
    text-align: center;
}
.assets_title span{
    text-align: center;
    margin: 0 auto;
    line-height: 50px;
    height: 35px;
    padding: 5px 20px;
    border-bottom: 1px solid #FF3535;
    border-top: 1px solid #FF3535;
}
.assets_cont{
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 3px 3px 20px #ccc;
    text-align: center;
    line-height: 60px;
    overflow: hidden;
    border-radius: 5px;
}
.assets_cont_left{
    width: 49%;
}
.assets_cont_right{
	width: 50%;
}
.assets_cont_right p{
    border-bottom: 1px solid #f6f6f6;
}

.assets_cont_left p{
    border-right: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
}
.assets_more{
    font-size: 14px;
    line-height: 80px;
    margin-right: 20px;
}
.assets_conta{
	width: 90%;
	margin: 0 auto;
    overflow: hidden;
}
.assets_conta .assets_cont{
	width: 45%;
}
.assets_cont_name p{
	border-bottom: 1px solid #f6f6f6;
}
.assets_cont_name .float_left p{
	border-right: 0px solid #f6f6f6;
    border-bottom: 0px solid #f6f6f6;
}
.assets_conta .assets_cont_left,.assets_conta .assets_cont_right{
	font-size: 12px;
}
.assets_conta  .priceColor_red b{
	font-size: 14px;
}
.assets_coupon{
	background-color: #fff;
    padding-bottom: 60px;
}
.assets_coupon .page_fist_txt li{
	border-bottom: 1px solid #F6F6F6;
}
.assets_coupon   strong{
    display: block;
    float: left;
    border-left: 1px solid #f6f6f6;
    height: 89px;
    margin-left: 4px;
    margin-right: 3px;
    margin-top: -15px;
}

.transaction_icon{
	background: url(../images/rili.png) no-repeat center;
	background-size: 100%;
	padding: 15px;
    margin: 10px;
}
.transaction_icon2{
	background: url(../images/zhifubao.png) no-repeat center;
	background-size: 100%;
	padding: 15px;
	margin-right: 5px;
}
.transaction{
    overflow: hidden;
    background-color: #fff;
    line-height: 50px;
    text-indent: 10px;
}

.transaction_order{
    margin-top: 10px;
    font-size: 14px;
}
.transaction_table{
	width: 100%;
	line-height: 45px;
}
.transaction_table tr{
	background-color: #FFFFFF;
	display: flex;
}
.transaction_table tr th{
	color: #666666;
	font-weight: normal;
}
.transaction_order_xiang .float_right{
	margin-right: 10px;
	color: #999999;
}
.transaction_order_xiang hr{
	width: 95%;
}
.transaction_xiang{
	width: 100%;
	overflow: hidden;
}
.transaction_xiangqing{
	width: 100%;
	overflow: hidden;
}
.transaction_xiangqing1{
	width: 100%;
	font-size: 18px;
	overflow: hidden;
}
.package_car{
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    line-height: 50px;
    text-align: center;
   	z-index: 20;
    position: fixed;
    left: 5%;
    right: 50%;
    top: 15%;
}
.package_car .package_car_clsoe{
    text-align: left;
    margin-left: 10%;
    color: #FF0000;
    margin-bottom: 20px;
    padding-top: 30px;
}
.package_car p img{
   	width: 55%;
}
.me_package1{
	width: 95%;
	margin: 20px auto;
	position: relative;
	
}
.me_package1 img{
	width: 100%;
}
.me_cart_top .me_package2{
    background-color: #ff0000;
    color: #fff;
}
.me_cart_top{
	line-height: 55px;
    text-align: center;
}
.me_cart_top span{
	padding: 5px 10px;
    color: #FF0000;
    border: 1px solid #FF0000;
}
.me_cart_report{
    background: rgba(000,000,000,.7);
    position: absolute;
    bottom: 3%;
    line-height: 50px;
    width: 100%;
    color: #fff;
    display: none;
}
.me_cart_report span{
    padding: 4% 20%;
}
.me_cart_invoice{
    line-height: 45px;
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
}
.me_cart_invoice span{
	padding: 11px 14%;
}
.me_cart_invoice .me_package2{
    border-bottom: 2px solid #ff0000;
    color: #ff0000;
}
.invoice_syore{
	padding-top: 0px;
}
.invoice_syore .page_fist_top{
	line-height: 45px;
}
.page_fist_txta li{
	    float: left;
    width: 23%;
}
.sb_ui_input{
    line-height: 50px;
    float: left;
    width: 68%;
    border: 0px solid;
    text-indent: 10px;
    margin-left: 5px;
}
#personal_invoice{
	display: none;
}
.me_invoice{
	display: none;
}
.me_invoice_xiangqing{
    width: 95%;
    background-color: #fff;
    margin: 20px auto;
    position: relative;
}
.me_invoice_xiangqing p{
	line-height: 40px;
    text-indent: 20px;
    color: #666666;
    font-size: 14px;
}
.me_invoice_xiangqing .invoice_money{
    text-align: center;
}
.me_invoice_xiangqing  .nvoice_title{
	font-size: 18px;
	color: #333333;
}

.report li{
	width: 30%;
}
.tousu .shopcart_detail_order .order_content{
    width: 52%;
}

.shop_xiangqing_icon{
	background: url(../images/follow_off.png) no-repeat center;
	background-size: 100%;
	    padding: 3px 12px;
}
.shop_xiangqing_icon1{
	background: url(../images/follow_on.png) no-repeat center;
	background-size: 100%;
	    padding: 3px 12px;
}
.details_backa{
	    width: 100%;
    text-align: center;
    background-color: #fff;
}
.details_back_top{
	    text-align: center;
}
.details_back_top img{
	        width: 80%;
    margin: 5%;
}
.details_title{
	width: 100%;
}
.title_deta{
	    width: 95%;
    margin: 0 auto;
    line-height: 30px;
}
.details_me{
	    background-color: #FD2C2D;
    color: #fff;
    padding: 0px 5px;
    border-radius: 2px;
}
.derails_price{
	    overflow: hidden;
    line-height: 55px;
}
.derails_price .priceColor_red{
	    font-size: 20px;
}
.derails_price .priceColor_red .price_size{
	    font-size: 24px;
}
.details_guan{
	    width: 10%;
    line-height: 25px;
    text-align: center;
}
.width_deta_95{
    width: 95%;
    margin: 0 auto;
	background-color: #FFFFFF;
}
.details_back{
	background-color: #FFFFFF;
	width: 100%;
    margin: 0 auto;
}
.details_specifications{
	    padding: 0% 3%;
    line-height: 50px;
        margin-top: 10px;
}
.details_select{
	    color: #999999;
    display: inline;
}
.details_selectp{
	    width: 73%;
   display: inline-flex;
    word-wrap: normal;
}
.details_selectimg{
	width: 30px;
    float: right;
    margin: 23px 0px;
}
.details_ziying{
    background-color: #fff;
    margin-top: 10px;
    padding: 2%;
}
.details_ziying_tit{
	    width: 70%;
    display: inline-block;
    text-align: right;
    font-size: 18px;
}

.info{
	    position: relative;
    padding-top: 15px;
    padding-bottom: 14px;
    line-height: 13px;
    text-indent: 5px;
}
.part_note_msg{
	    display: inline-block;
    line-height: 15px;
    font-size: 14px;
    color: #81838e;
    width: 28%;
    white-space: normal;
    height: auto;
}
.good_comment_text{
	    float: right;
    margin-right: 22px;
    color: #252525;
    margin-top: 2px;
    font-size: 14px;
}
.comment-item-info{
	overflow: hidden;
}
.down-icon .content{
	color: #666666;
    line-height: 25px;
}
.comment-item-date{
	    text-align: right;
    font-size: 14px;
    padding: 5px;
}
.five_column{
	display: table;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    text-align: center;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: #fff;
}
.concern_cart{
	    float: left;
    height: 100%;
    overflow: hidden;
    width: 40%;
}
.love-heart-icn{
	    width: 54%;
    border-right: 1px solid #ccc;
}
.J_ping{
	display: inline-block;
    height: 100%;
    line-height: 16px;
    float: left;
    overflow: hidden;
    position: relative;
}
.cart-car-icn{
	    width: 45%;
    
}
.action-list {
	    float: left;
    height: 100%;
    overflow: hidden;
    width: 60%;
}
.directorder{
	display: inline-block;
    height: 100%;
    line-height: 50px;
    float: left;
    overflow: hidden;
    position: relative;
    width: 50%;
    color: #fff;
}
.page_fist_margin li{
	width: 32%;
	float: left;
    line-height: 31px;
}
.page_fist_margin li span{
	display: block;
	
}
.page_f {
	width: 100%;
}
.page_f strong{
    float: left;
    padding: 30px 0px;
    border: 0.5px solid #E5E5E5;
}
.product-item-star {
	display: inline-block;
	overflow: hidden;
	width: 75px;
	height: 11px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: url(../images/comment-star.png) repeat-x 0 -11px;
	background-size: 15px 22px;
}
.product-item-star .real-star {
	display: inline-block;
	height: 20px;
	background: url(../images/comment-star.png) repeat-x 0 0;
	background-size: 15px 24px;
}
.comment-stars-width1 {
	width: 20%;
}

.comment-stars-width2 {
	width: 40%;
}

.comment-stars-width3 {
	width: 60%;
}

.comment-stars-width4 {
	width: 80%;
}

.comment-stars-width5 {
	width: 100%;
}
.focus-scale {
	background: url(../images/consulting.png) no-repeat center;
	background-size: 100%;
	    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}
.order-numbers{
	background: url(../images/shoppingCart.png) no-repeat center;
	background-size: 100%;
	display: block;
     width: 30px;
    height: 30px;
    margin: 0 auto;
}
.select_icona{
	background: url(../images/store.png) no-repeat center;
	background-size: 100%;
	    float: left;
    margin-left: 7%;
    width: 25px;
    height: 30px;
}
.detail_content .confirm_order{
	border: 0px ;
}
.shopcart_detail_order{
	     padding-bottom: 5%; 
     padding-top: 2%; 
     overflow: hidden; 
     width: 100%; 
}
.comfir_order{
	
	padding-bottom: 0;
}
.comfir_order.shopcart_detail_img{
	margin-top: 0px; 
}
.comfir_order .detail_content{
	float: left;
    width: 58%;
    margin-left: 10px;
}
.comfir_order  .detail_content_tit{
    width: 90%;
    text-align: left;
}	
.comfir_order .price_setting{
	width: 100%;
}
.comfir_order .detail_content .specification{
	    width: 87%;
}
.comfir_order .price_setting p{
	text-align: right;
    width: 30%;
}

.comfi_order{
	margin-left: 1%;
    float: left;
    width: 0px;
    height: 20px;
    margin-top: 5px;
}
.page_fist_order{
	display: block;
	line-height: 20px;
}
.page_fist_confiorder{
	    text-align: right;
    margin-right: 15px;
}
.confirmation_top .page_fist_fontleft{
    width: 75%;
}
.confirmation_top  .page_fist_allorder{
	    width: 5%;
}
.confirmation_top{
	overflow: hidden;
}
.page_fist_confir{
	float: left;
    margin-left: 20px;
    font-size: 14px;
    color: #999999;
    line-height: 10px;
    margin-bottom: 10px;
}
.forward_city{
	background: url(../images/chakan.png) no-repeat center;
	background-size: 100%;
	padding: 24px;
}
.shopcat_city{
    height: 70px;
    line-height: 70px;
}
.city_mang{
	    width: 90%;
    float: left;
}
.page_head_city{
	background: url(../images/tian.png) no-repeat center;
	background-size: 100%;
	padding: 10px;
}
.me_news_box{
	background: #FFFFFF;
	width: 100%;
}
.news_tit_time{
	    width: 100%;
    line-height: 50px;
    text-align: center;	
}
.news_tit{
	    width: 75%;
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
}
.news_conert{
	    width: 65%;
    margin: 0 auto;
}
.news_conert p{
	margin-top: 5px;
	color: #666666;
}
.news_conert .news_img img{
	width: 100%;
}
.news_conert  .news_sender{
	text-align: right;
	line-height: 30px;
}
.payment_top{
    line-height: 45px;
    text-align: right;
    margin-right: 10px;
}
.pay_pingtai{
	background-color: #FFFFFF;
}
.pay_pay{
	    line-height: 40px;
    text-indent: 10px;
    font-weight: bold;
    border-bottom: 1px solid #f6f6f6;
}
.payment_pay{
	line-height: 35px;
    padding-bottom: 10px;
}
.paymentpay{
	    text-indent: 10px;
    font-size: 14px;
}
.pay_ment_pay{
    background-color: #FBFBFB;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    display: block;
    border: 0px;
    line-height: 25px;
    outline: none;
}
.pay_fangshi p{
	    text-indent: 10px;
    font-size: 14px;
    line-height: 40px;
}
.paymode_icon1{
	background: url(../images/zhifubao2.png) no-repeat center;
	background-size: 100%;
	    padding: 10px 15px;
	    margin-right: 10px;
}
.paymode_icon2{
	background: url(../images/weixin.png) no-repeat center;
	background-size: 100%;
	    padding: 10px 15px;
	    margin-right: 10px;
}
.paymode_icon3{
	background: url(../images/yinlian.png) no-repeat center;
	background-size: 100%;
	padding: 10px 45px;
	    margin-right: 10px;
}
.page_fist_margina{
	margin-top: 10px;
	overflow: hidden;
}
.page_fist_marginb{
	margin-top: 2px;
	overflow: hidden;
}
.payment_bottom{
	font-size: 14px;
	line-height: 30px;
}
.hank_icon{
	background: url(../images/105143891651515625.png) no-repeat center;
	background-size: 100%;
	    padding: 10px 14px;
    margin-right: 10px;
}
.hank_icon1{
	background: url(../images/78894525797179799.png) no-repeat center;
	background-size: 100%;
	    padding: 10px 14px;
	    
    margin-right: 10px;
}
.hank_icon2{
	background: url(../images/yinlian.png) no-repeat center;
	background-size: 100%;
    padding: 10px 14px;   
    margin-right: 10px;
}
.hangkpay_icon{
	background: url(../images/duigou.png) no-repeat center;
	background-size: 100%;
	padding: 10px;
	float: right;
    margin: 15px;
    display: none;
}
.pay_hank_xuaze{
	    line-height: 45px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.return_key_hank{
	top: 8px;
}
.hank_pay_car{
	height: 65%;
	min-height: 65%;
    overflow-y: scroll;
    line-height: 50px;
}
.hank_pay_car li{
	text-indent: 20px;
	    font-size: 18px;
}
.password_pay_ul{
	    overflow: hidden;
    width: 95%;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 10px;
}
.password_pay_ul li{
    float: left;
    width: 16%;
    border: 1px solid #ccc;
    height: 50px;
    margin: 10px 0px;
}
.password_pay_ul input[type=password]{
    width: 100%;
    border: 0px;
    height: 50px;
    text-align: center;
}
.wang_password{
	text-decoration: underline;
    margin-right: 10px;
}

.pay_success{
    width: 50%;
    margin: 0 auto;
    margin-top: 30%;
    margin-bottom: 30%;
}
.pay_success img{
	width: 100%;
}
.logistic_box{
	background-color: #FFFFFF;
}
.logistic{
	width: 100%;
	overflow: hidden;
	    padding-top: 5px;
}
.logistic p{
	float: left;
	
}
.logistic_time{
	width: 25%;
}
.logisticicona{
	width: 2px;
    height: 75px;
    position: relative;
    border-left: 1px solid #ccc;
}
.logistic_icon{
	background: url(../images/836377074085914931.png) no-repeat center;
	background-size: 100%;
	padding: 10px;
	position: relative;
	left: -6px;
}
.logistic_icona{
	background: url(../images/708299662586450106.png) no-repeat center;
	background-size: 100%;
	padding: 10px;
	position: relative;
	left: -6px;
}
.logistic_count{
    width: 65%;
    padding-left: 10px;
    text-align: justify;
}
.color_logistic{
	color: #EF4441;
}

.evalua_pingjia{
	    width: 90%;
    min-height: 144px;
    border: 0px;
    line-height: 30px;
    text-indent: 10px;
}
.page_head_icon4{
	    background: url(../images/cardpackage.png) no-repeat center;
    background-size: 100%;
    padding: 10px;
}
.page_head_icon5{
	    background: url(../images/invoice_two.png) no-repeat center;
    background-size: 100%;
    padding: 10px;
}

.coupon_box{
	    background-color: #fff;
    overflow: hidden;
    padding-top: 10px;
}
.coupon_img{
    width: 25%;
    margin: 10px;
}
.coupon_imga{
    width: 27%;
    margin: 10px;
    background-color: #F07E76;
    line-height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}
.font_size26{
	font-size: 26px;
}
.coupon_box img{
	width: 100%;
}
.coupon_count{
    width: 52%;
    line-height: 25px;
    margin-top: 10px;
}
.coupon_count_tit{
	overflow: hidden;line-height: 20px;
}
.coupon_die{
	    padding: 1px 5px;
    border: 1px solid #EA3F38;
    color: #EA3F38;
    position: relative;
    top: 8px;
}
.coupon_bei1{
	    background-color: #ccc;
    width: 60%;
    height: 10px;
    border-radius: 50px;
    margin-top: 3px;
    margin-right: 5px;
}
.coupon_bei2{
	    background-color: #F3AFB0;
    width: 79%;
    height: 10px;
    border-radius: 50px; 
    margin-top: 0px;
    float: left;
}
.recharge{
	    width: 100%;
    line-height: 35px;
    border-radius: 5px;
    border: 0px;
    text-indent: 10px;
}
.recharge_xi{
	    line-height: 35px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    text-indent: 10px;
    color: #666666;
}
.recharge_money{
    font-weight: 800;
    text-align: center;
    margin: 20px;
}
.content-shop .content-score{
    width: 85%;
    float: left;
}
.content-shop .content-score ul{
    left: 22%;
}
.content-items .details_guan{
    line-height: 16px;
}
.content-items .details_guan .shop_xiangqing_icon{
    padding: 3px 10px;
}
.content-items .details_guan .shop_xiangqing_icon1{
    padding: 3px 10px;
}
.select_icon2{
    background: url(../images/ellipse_on.png) no-repeat 0 4px;
    background-size: 100%;
    width: 25px;
    height: 30px;
    position: absolute;
    top: 13px;
    right: 13px;
}
.chaoxi{
	    position: absolute;
    bottom: 22px;
    right: 25px;
}
.zixun_up{
	background-color: #FFFFFF;
}
.zixun_down{
	background-color: #FFE6E6;
}
.zixun_mang{
	    line-height: 30px;
	    padding: 15px;
}
.manage_zixun{
	    color: #666666;
    font-size: 14px;
}
.withdraw{
	    background-color: #fff;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    padding: 10% 0px;
}
.withdraw_p{
    font-size: 40px;
}
.luck_order{
	    width: 30%;
    line-height: 35px;
    background-color: #fff;
    border-radius: 5px;
    border: 0px solid;
    float: left;
    
}
.luck_order_no{
	border: 1px solid #FF404F;
    color: #FF404F;	
}
.luck_order_yes{
    background-color: #009ad8;
    color: #fff;
}

.active_tit{
	background-color: #FFFFFF;
	width: 100%;
}
.active_text{
	overflow: hidden;
}
.active_text p{
	float: left;
	    line-height: 40px;
}
.active_text_conut{
	margin-top: 5px;
	margin-left: 10px;
	    width: 56%;
}
.active_background{
	background: url(../images/a.png) no-repeat center;
	background-size: 100%;
	padding: 5px 35px;
    color: #fff;
}
.activies_table{
	width: 100%;
	line-height: 45px;
	background-color: #FFFFFF;
	
}
.activies_table tbody th{
	color: #666666;
	font-weight: initial;
    font-size: 14px;
}
.activies_table tr:nth-child(even){
	background: #E5E5E5;
}
.activies_tableb{
	width: 100%;
	line-height: 45px;
	background-color: #FFFFFF;
   
}

.activies_tableb thead th,td{
	color: #333333;
	font-weight: initial;
    font-size: 12px;
}
.activies_tableb tbody .lingqu{
	display: inline-grid;
	white-space: nowrap;
    margin-left: 5px;
}
.activies_tableb tbody th,td{
	color: #333333;
	font-weight: initial;
   font-size: 12px;
}
.activies_tableb_tr{
	border-bottom: 1px solid #333333;
	text-align: left;
	text-indent: 10px;
}
.gift .order_list li{
	width: 22%;
}
.gift .order_list strong{
	float: left;
    padding: 25px 0px;
    border: 0.5px solid #E5E5E5;
}
.gift_logo{
	background: url(../images/store.png) no-repeat center;
	background-size: 100%;
	padding: 10px;
}
.gift_img{
    width: 13%;
    position: absolute;
    right: 6%;
    margin-top: 5px;
}
.gift_img img{
	width:100%;
}
.vas .pay_total{
	    width: 95%;
}

.help .page_fist_allorder{
	    width: 10%;
}
.help_center h2{
	line-height: 40px;
	text-indent: 20px;
	font-size: 18px;
}
.help_center p{
	    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    color: #666666;
}
.icon_page{
    display: inline-block;
    width: 25px;
    margin-right: 5%;
}
.invoice_yikai{
	width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
}
.invoice_yikai img{
	width: 100%;
}

.banner_shop .shoping_banner{
    position: relative;
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
}

.budaizi{
	background: url(../images/budaizi.png) no-repeat center;
	background-size: 100%;
	display: block;
    padding: 30px 7px;
    color: #fff;
}
.coupon_qie{
	background-color: #FDF4EB;
    width: 80%;
    margin: 0 auto;
    line-height: 20px;
}
.atten_zuosi{
	height: 50px;
	display: block;
}
.atten_zuosi .select_icon3{
    width: 18px;
    height: 23px;
    margin-left: 20%;
}
.atten_zuosi .select .select_tex{
	line-height: 20px;
}
.optimize_md{
	position: relative;
}
.optimize_mdzz{
	color: #FFFFFF;
	widows: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(000,000,000,0.5);
	display: none;
}

.optimize-items-title{
	font-size: 14px;
}
.optimize-items-title a{
	color: #999999;
}
.cart1 hr{
	margin-bottom: 0px;
}
.assets_contab{
	overflow: hidden;
}
.assets_contab .assets_cont{
    width: 170px;
}
.seckul {
	width: 1200px;
	padding-bottom: 10px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.seck_list {
	box-sizing: border-box;
	padding: 0 11px;
}







/*320px以下的媒体查询*/
@media (max-width: 320px) {
	body {
    font-size: 14px;
    }
    .detail_content .specification span{
    	font-size: 12px;
    }
     .shop_merchandise .product_name{
    	font-size: 14px;
    }
    .forward_key{
    	margin-left: 1%;
    }
    .page_head_box{
    	width: 100%;
    }
    .order_list li a{
    	font-size: 12px;
    }
    .index-footer{
    	height: 50px;
    }
    .font_size14{
    	font-size: 12px;
    }
    .font_size16{
    	font-size: 14px;
    }
    .coupon_die{
    	top: 2px;
    }
    .details_ziying_tit{
	    font-size: 14px;
    }
    .details_guan{
    	width: 20%;
    }
}

