.index-search {
    position: fixed;
    top: 0;
    width: 100%;
    height: 44px;
    z-index: 1;
}

.index-body {
    position: relative;
    width: 100%;
    padding: 0 0 55px 0;
}

.banner {
    position: relative;
    width: 100%;
}

.nav {
    position: relative;
    width: 100%;
    padding: 12px 12px 4px;
    background-color: #fff;
}

.nav-items {
    float: left;
    width: 25%;
    margin-bottom: 12px;
    text-align: center;
}

.nav-items img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.advertising {
    position: relative;
    width: 100%;
}

.infomation {
    position: relative;
    width: 100%;
    background-color: #fff;
    margin: 6px 0;
    overflow: hidden;
}

.infomation-left {
    width: 11%;
    padding: 7px 8px;
    float: left;
    background-color: #e5e5e5;
    color: #fc1b1b;
}

.infomation-left img {
    width: 80%;
    margin: 0 auto 5px;
    display: block;
}

.infomation-right {
    width: 89%;
    float: left;
    overflow: hidden;
    padding-left: 3px;
}

.infomation-right div {
    width: 100%;
    padding: 5px 0 5px 10px;
    border-top: 1px solid #b5b5b5;
    margin-top: -1px;
}

.infomation-right span {
    width: 33.33%;
}

.infomation-right-title {
    font-size: 12px;
    color: #333;
}

.infomation-right-content,
.infomation-right-time {
    font-size: 10px;
    color: #333;
}

.active {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
    background-color: #fff;
}

.active-title {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 9px;
}

.active-title-line {
    position: absolute;
    top: 12px;
    left: 50%;
    width: 25%;
    height: 2px;
    margin-left: -12.5%;
    background-color: #ff5959;
}

.active-title span {
    position: relative;
    color: #ff5959;
    background: #fff;
    font-size: 18px;
}

.active-content-big {
    position: relative;
    width: 43%;
    float: left;
    border-radius: 3px;
}

.active-content-sm {
    position: relative;
    width: 26%;
    float: left;
    margin: 0 0 12px 2.5%;
    border-radius: 3px;
}

.active-content-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.active-shadow-text {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    margin: -11px 0 0 -24px;
    color: #fff;
    line-height: 20px;
    border: 1px solid #fff;
    border-width: 1px 0px;
}

.commodities {
    width: 100%;
    padding: 10px 0 10px 4%;
    margin-bottom: 5px;
    background-color: #fff;
}

.more {
    position: absolute;
    top: 4px;
    right: 4%;
    color: #999;
    font-size: 12px;
}

.commodities-content {
    width: 45%;
    float: left;
    margin-right: 5%;
}

.commodities-content-des {
    width: 100%;
    margin: 8px 0 10px;
    color: #999;
    font-size: 14px;
}

.commodities-content-line {
    width: 72%;
    height: 1px;
    background-color: #999;
    margin-bottom: 12px;
}

.commodities-content-price {
    float: left;
    color: #ff5959;
    font-size: 16px;
}

.commodities-content-unprice {
    float: left;
    margin: 2px 0 0 5px;
    color: #999;
    font-size: 12px;
    text-decoration: line-through;
}

.index-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 2px 0;
    background-color: #fff;
}

.footer-items {
    width: 20%;
    float: left;
    text-align: center;
}

.footer-items img {
    width: 40%;
    margin: 0 auto;
}