.groupon-nav {
    width: 100%;
    margin-bottom: 5px;
}

.groupon-nav-items {
    position: relative;
    width: 25%;
    height: 44px;
    float: left;
    line-height: 44px;
    background-color: #fff;
    border-left: 1px solid #e5e5e5;
    border-bottom: 2px solid transparent;
    text-align: center;
    color: #666;
}

.groupon-nav-items:first-child {
    border-left-width: 0;
}

.groupon-nav-items.active {
    border-bottom: 2px solid #f00;
    color: #fd2c2d;
}

.optimize-items {
    position: relative;
    width: 50%;
    padding: 10px 7px 0;
    margin-bottom: 10px;
    float: left;
    background-color: #fff;
}

.optimize-items>img {
    border-radius: 3px;
}

.groupon-mask {
    position: absolute;
    top: 10px;
    right: 7px;
    left: 7px;
    height: 173px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    font-size: 15px;
    line-height: 173px;
    text-align: center;
    display: none;
}

.groupon-mask.active {
    display: block;
}

.discounts {
    position: absolute;
    top: 10px;
    right: 7px;
    width: 50px;
    height: 20px;
    background-color: #ff5959;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

.optimize-items-title {
    width: 100%;
    padding: 8.5px 5px 10px;
    color: #999;
    font-size: 13px;
    border-bottom: 1px solid #e3e3e3;
}

.optimize-items-price {
    font-size: 10px;
    color: #666;
    text-decoration: line-through;
    margin: 12px 0;
}

.optimize-items-now {
    margin-bottom: 13.5px;
}

.optimize-items-nowPrice {
    float: left;
    font-size: 15px;
    line-height: 1;
    color: #ff5959;
    margin-right: 6%;
}