.groupon-top {
    width: 100%;
    padding: 8px 0;
    background-color: #fff;
}

.top-nav {
    padding: 0 20%;
    margin-bottom: 8px;
}

.top-nav div:first-child {
    border-right-width: 0px;
    border-radius: 2.5px 0 0 2.5px;
}

.top-nav-left,
.top-nav-right {
    float: left;
    width: 50%;
    height: 30px;
    color: #ff0002;
    border: 1px solid #ff0002;
    border-radius: 0 2.5px 2.5px 0;
    background-color: #fff;
    text-align: center;
    line-height: 28px;
}

.top-nav-left.active,
.top-nav-right.active {
    color: #fff;
    background-color: #fd5253;
}

.time-to-time {
    width: 80%;
    height: 20px;
    margin: 0 auto 14px;
    line-height: 20px;
    text-align: center;
    color: #333;
    border: 1px solid #f19149;
    background-color: #ffedc1;
}

.time-to-end {
    position: relative;
    width: 100%;
    height: 15px;
    padding-left: 5%;
    margin: 0 0 8px 0;
    color: #fc5052;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
}

.time-to-end img {
    position: absolute;
    top: 0;
    left: 33%;
    width: 3.467%;
}

.end-time {
    width: 100%;
    text-align: center;
    line-height: 1;
    color: #fe5052;
    font-size: 14px;
}

.end-time span {
    color: #333;
}