.search {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    transition: .3s ease-in-out;
    overflow: hidden;
}

.search.active {
    height: 100px;
}

.back-arrow {
    width: 12%;
    height: 50px;
    float: left;
}

.back-arrow img {
    width: 30%;
    margin: 12px auto 0;
}

.search-input {
    position: relative;
    float: left;
    width: 68.8%;
    height: 30px;
    margin: 10px 0 0 15px;
}

.search-input input {
    width: 100%;
    height: 100%;
    padding-left: 10%;
    border-radius: 5px;
    outline-style: none;
    border: none;
    text-align: center;
    font-size: 12px;
    color: #666;
    opacity: 0.8;
}

.search-input.active input {
    padding-left: 10%;
    text-align: left;
}

.search-input img {
    position: absolute;
    top: 8px;
    left: 43%;
    width: 5%;
}

.search-input.active img {
    left: 3%;
}

.search-menu {
    float: left;
    width: 15%;
    height: 50px;
}

.search-menu img {
    width: 50%;
    margin: 15px auto 0;
}

.nav {
    width: 100%;
    height: 50px;
    background-color: rgba(64, 64, 66, 1);
}

.nav ul li {
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
}

.nav ul li img {
    width: 40%;
    margin: 3px auto 0;
}

.nav ul li span {
    color: #fff;
    font-size: 12px;
}

.three-nav {
    width: 92%;
    height: 30px;
    margin: 0 auto;
    border: 1px solid #f00;
    border-radius: 5px;
}

.three-nav-items {
    width: 33.33%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #fd2c2d;
}

.three-nav .midDiv {
    border: 1px solid #fd2c2d;
    border-width: 0 1px
}

.three-nav-items.active {
    background-color: #f00;
    color: #fff;
}

.sequencing {
    width: 100%;
    height: 44px;
    background-color: #fff;
    margin: 2px 0 3px;
}

.sequencing-items:first-child {
    border-left-width: 0;
}

.sequencing-items {
    position: relative;
    width: 25%;
    height: 44px;
    float: left;
    border-left: 1px solid #e5e5e5;
    text-align: center;
    line-height: 44px;
    color: #666;
}

.sequencing-items.active {
    color: #f00;
    border-bottom: 2px solid #f00;
}

.sequencing-items img {
    position: absolute;
    top: 15px;
    left: 72%;
    width: 4%;
}

.sequencing-items:last-child img {
    top: 16px;
    left: 68%;
    width: 13%;
}

.content-all {
    width: 100%;
    padding: 18px 0 16px 13px;
    background-color: #fff;
    margin-bottom: 5px;
    display: none;
}
.content-all.active {
    display: block;
}

.content-all img {
    width: 24%;
    float: left;
    margin-right: 9.5px;
}

.content-all .content-title {
    float: left;
    width: 73%;
    padding-right: 23%;
    color: #333333;
    font-size: 15px;
    margin-bottom: 20px;
}

.content-all .content-title span {
    color: #ff2f39;
    font-size: 15px;
}

.content-all .price1 {
    font-size: 12px;
    color: #ff2f39;
    float: left;
    margin-right: 9.5px;
    line-height: 19px;
}

.content-all .price2 {
    font-size: 8px;
    color: #666;
    float: left;
    line-height: 19px;
    margin-right: 25px;
}

.content-all .sale {
    color: #666666;
    font-size: 15px;
    float: left;
    line-height: 15px;
}

.content-all .saleNum {
    color: #ff2f39;
    font-size: 15px;
    float: left;
    line-height: 15px;
}




.content-shop {
    display: none;
}
.content-shop.active {
    display: block;
}

.content-shop .content {
    position: relative;
    width: 100%;
    background-color: #fff;
    margin-bottom: 8px;
}

.content-shop .content-title {
    width: 100%;
    padding: 12px 4% 7px;
    border-bottom: 1px solid #e5e5e5;
}

.content-shop .content-title div {
    float: left;
    font-size: 16px;
    color: #fd2c2d;
}

.content-shop .content-title div:first-child {
    color: #666;
}

.content-shop .content-title div:last-child {
    width: 14%;
    height: 21px;
    float: right;
    border: 1px solid #fd2c2d;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    line-height: 21px;
    color: #fd2c2d;
}

.content-shop .content-items {
    width: 100%;
    padding: 11px 0 0 4%;
}

.content-shop .content-score {
    position: relative;
    color: #666;
    font-size: 14px;
    padding-bottom: 13px;
}

.content-shop .content-score ul {
    position: absolute;
    top: 0;
    left: 12%;
    padding-left: 0;
    overflow: hidden;
}

.content-shop .content-score ul li {
    float: left;
    list-style: none;
    width: 20px;
    height: 20px;
    background: url(../../images/index_star.jpg);
    background-size: 20px;
    background-position-y: -20px;
}

.content-shop .content-score ul li.light {
    background-position: 0 0;
}

.content-shop .content-score ul li a {
    display: block;
    width: 100%;
    padding-top: 27px;
    overflow: hidden;
}

.content-shop .img-box {
    position: relative;
    width: 30%;
    float: left;
    margin: 0 3% 10px 0;
}

.content-shop .img-box div {
    position: absolute;
    right: 5px;
    bottom: 7px;
    padding: 1px;
    background-color: rgba(255, 255, 255, .6);
    font-size: 12px;
}





.content-outlet {
    display: none;
}
.content-outlet.active {
    display: block;
}

.content-outlet .content {
    position: relative;
    width: 100%;
    background-color: #fff;
    margin-bottom: 8px;
}

.content-outlet .content-title {
    width: 100%;
    padding: 12px 4% 7px;
    border-bottom: 1px solid #e5e5e5;
}

.content-outlet .content-title div {
    float: left;
    font-size: 16px;
    color: #fd2c2d;
}

.content-outlet .content-title div:first-child {
    color: #666;
}

.content-outlet .content-title div:last-child {
    width: 14%;
    height: 21px;
    float: right;
    border: 1px solid #fd2c2d;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    line-height: 21px;
    color: #fd2c2d;
}

.content-outlet .content-items {
    width: 100%;
    padding: 11px 0 0 4%;
}

.content-outlet .content-score {
    position: relative;
    color: #666;
    font-size: 14px;
    padding-bottom: 13px;
}

.content-outlet .content-score ul {
    position: absolute;
    top: 0;
    left: 12%;
    padding-left: 0;
    overflow: hidden;
}

.content-outlet .content-score ul li {
    float: left;
    list-style: none;
    width: 20px;
    height: 20px;
    background: url(../../images/index_star.jpg);
    background-size: 20px;
    background-position-y: -20px;
}

.content-outlet .content-score ul li.light {
    background-position: 0 0;
}

.content-outlet .content-score ul li a {
    display: block;
    width: 100%;
    padding-top: 27px;
    overflow: hidden;
}

.content-outlet .img-box {
    position: relative;
    width: 30%;
    float: left;
    margin: 0 3% 10px 0;
}

.content-outlet .img-box div {
    position: absolute;
    right: 5px;
    bottom: 7px;
    padding: 1px;
    background-color: rgba(255, 255, 255, .6);
    font-size: 12px;
}



.screen-all,
.screen-shop,
.screen-outlet {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.screen-all.active,
.screen-shop.active,
.screen-outlet.active {
    display: block;
}

.screen-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 20%;
    background-color: #fff;
    padding-bottom: 50px;
}

.screen-ok {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
    height: 44px;
    background-color: #ff4343;
    text-align: center;
    line-height: 44px;
    color: #fff;
}

.screen-reset {
    position: absolute;
    right: 40%;
    bottom: 0;
    width: 40%;
    height: 44px;
    background-color: #f2f2f2;
    text-align: center;
    line-height: 44px;
    color: #000;
}

.screen-all-1 {
    font-size: 18px;
    color: #000;
    line-height: 1;
    padding-top: 36px;
    margin: 0 0 21px 23px;
}

.screen-all-2 {
    width: 100%;
    margin: 0 0 25px 23px;
}

.minimum,
.maximum {
    width: 31%;
    height: 30px;
    background-color: #e5eaf1;
    float: left;
    outline: none;
    border: 0px solid transparent;
    text-align: center;
}

.screen-line {
    float: left;
    width: 11%;
    height: 2px;
    background-color: #666;
    margin: 14px 5% 0;
}

.screen-all-3 {
    width: 100%;
    padding: 13px 23px 15px;
    margin: 5px 0;
}

.screen-all-3-1 {
    float: left;
    font-size: 18px;
    line-height: 1;
    color: #000;
}

.screen-all-3-2 {
    float: right;
    font-size: 15px;
    line-height: 18px;
    color: #999;
}

.screen-all-3-content {
    width: 100%;
    height: 35px;
    padding: 0 23px;
    overflow: hidden;
}

.screen-all-3-content.active {
    height: auto;
}

.screen-all-3-content-items {
    float: left;
    padding: 7px 10px;
    background-color: #f0f2f5;
    color: #666;
    font-size: 16px;
    text-align: center;
    line-height: 1;
    margin: 0 5px 5px 0;
}

.screen-all-3-content-items.active {
    background-color: #ff2f39;
    color: #fff;
}

.screen-all-4-content-items {
    float: left;
    padding: 7px 10px;
    background-color: #fff;
    color: #999;
    font-size: 16px;
    text-align: center;
    line-height: 1;
    margin: 0 5px 5px 0;
}

.screen-all-4-content-items img {
    float: left;
    width: 20%;
    margin-right: 5px;
}

.screen-all-4-content-items div {
    float: left;
    line-height: 17px;
}

.clear-search-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .34);
}